* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightgray;
}

.wrapper {
  background-color: #ffffff;
  width: 300px;
  aspect-ratio: 1/1;
  margin: 100px auto;
  display: grid;
  place-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: relative;
}

.watermelon,
.seed {
  transform: rotate(225deg) translate(-20px, -20px);
}

.watermelon {
  width: 120px;
  aspect-ratio: 1/1;
  background-color: #ff3030;
  position: relative;
  border-radius: 160px 0 0;
  isolation: isolate;
}

.watermelon:before {
  content: "";
  position: absolute;
  inset: -15px;
  border: 6px solid #307f30;
  border-radius: 130px 0 0;
  z-index: -1;
}

.seed-wrapper {
  position: absolute;
  width: 150px;
  height: 100px;
}

.seed {
  width: 8px;
  height: 8px;
  background-color: black;
  position: absolute;
  border-radius: 6px 10px 0;
}

.seed:nth-child(1) {
  top: 25px;
  left: 45px;
}
.seed:nth-child(2) {
  top: 50px;
  left: 20px;
}
.seed:nth-child(3) {
  top: 50px;
  left: 70px;
}
.seed:nth-child(4) {
  top: 25px;
  left: 95px;
}
.seed:nth-child(5) {
  top: 50px;
  left: 120px;
}
